### URL for problems: https://www.w3resource.com/python-exercises/pandas/index-data-series.php

In [1]:
import pandas as pd
import numpy as np

##### 14. Write a Pandas program to change the order of index of a given series.

In [40]:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], name='grades')
s2 = s1[s1 >= 90]
print(f'{s2}\n')

# I thought the target was to reindex based on a new sort, like so:
s2_sorted = s2.sort_values(ascending=False).reset_index().drop(['index'], axis=1)
print(f'{s2_sorted}\n')

1     92
2     90
3     92
5     91
6     90
10    90
Name: grades, dtype: int64

   grades
0      92
1      92
2      91
3      90
4      90
5      90

In [52]:
# The solution shows a semi-manual reindexing using the Series.reindex() method:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'], name='grades')
s1_sorted = s1.sort_values(ascending=False).head()
s1_reindexed = s1_sorted.reindex(index=['B', 'C', 'D', 'F', 'G'])
print(s1_reindexed)

B    92
C    90
D    92
F    91
G    90
Name: grades, dtype: int64

##### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [59]:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], name='grades')
s1_sd = s1.std()
s1_m = s1.mean()
print(f'The standard deviation of "grades" is {s1_sd:.3f} and the mean is {s1_m:.2f}')

The standard deviation of "grades" is 7.264 and the mean is 85.18

##### 16. Write a Pandas program to get the items of a given series not present in another given series.

In [71]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 3, 5, 7, 9])

# In this filter, the '~' decorator negates the filter, making it show what is MISSING in s1 that is in s2
print(s2[~s2.isin(s1)])

3    7
4    9
dtype: int64

##### 17. Write a Pandas program to get the items which are not common of two given series.

In [90]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 3, 5, 7, 9])

union = pd.Series(np.union1d(s1, s2))
intersect = pd.Series(np.intersect1d(s1, s2))

not_common = union[~union.isin(intersect)].reset_index().drop(['index'], axis=1).rename({0: 'values_not_common'}, axis=1)
not_common

   values_not_common
0                  2
1                  4
2                  7
3                  9