### URL for problems: https://www.w3resource.com/python-exercises/pandas/index-data-series.php

In [1]:
import pandas as pd
import numpy as np

##### 14. Write a Pandas program to change the order of index of a given series.

In [40]:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], name='grades')
s2 = s1[s1 >= 90]
print(f'{s2}\n')

# I thought the target was to reindex based on a new sort, like so:
s2_sorted = s2.sort_values(ascending=False).reset_index().drop(['index'], axis=1)
print(f'{s2_sorted}\n')

1     92
2     90
3     92
5     91
6     90
10    90
Name: grades, dtype: int64

   grades
0      92
1      92
2      91
3      90
4      90
5      90

In [52]:
# The solution shows a semi-manual reindexing using the Series.reindex() method:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K'], name='grades')
s1_sorted = s1.sort_values(ascending=False).head()
s1_reindexed = s1_sorted.reindex(index=['B', 'C', 'D', 'F', 'G'])
print(s1_reindexed)

B    92
C    90
D    92
F    91
G    90
Name: grades, dtype: int64

##### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [59]:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], name='grades')
s1_sd = s1.std()
s1_m = s1.mean()
print(f'The standard deviation of "grades" is {s1_sd:.3f} and the mean is {s1_m:.2f}')

The standard deviation of "grades" is 7.264 and the mean is 85.18

##### 16. Write a Pandas program to get the items of a given series not present in another given series.

In [71]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 3, 5, 7, 9])

# In this filter, the '~' decorator negates the filter, making it show what is MISSING in s1 that is in s2
print(s2[~s2.isin(s1)])

3    7
4    9
dtype: int64

##### 17. Write a Pandas program to get the items which are not common of two given series.

In [90]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 3, 5, 7, 9])

union = pd.Series(np.union1d(s1, s2))
intersect = pd.Series(np.intersect1d(s1, s2))

not_common = union[~union.isin(intersect)].reset_index().drop(['index'], axis=1).rename({0: 'values_not_common'}, axis=1)
not_common

   values_not_common
0                  2
1                  4
2                  7
3                  9

##### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [96]:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], name='grades')

# Pandas built-in .describe() method
s1_desc = s1.describe()
print(s1_desc)

# numpy built-in .percentile() method
s1_np_desc = np.percentile(s1, q=[0, 25, 50, 75, 100])
s1_np_desc

count    11.000000
mean     85.181818
std       7.263858
min      70.000000
25%      80.500000
50%      90.000000
75%      90.500000
max      92.000000
Name: grades, dtype: float64

array([70. , 80.5, 90. , 90.5, 92. ])

##### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [98]:
s1 = pd.Series([81, 92, 90, 92, 78, 91, 90, 83, 80, 70, 90], name='grades')

s1.value_counts()

90    3
92    2
81    1
78    1
91    1
83    1
80    1
70    1
Name: grades, dtype: int64

##### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [146]:
s1 = pd.Series(np.array([np.random.randint(0, 10) for i in range(20)]))

values = s1.value_counts()
most_freq = values[values == values.max()]
mf_index = most_freq.index
s1[~s1.isin(mf_index)] = 'Other'

print(s1.head())

0    Other
1    Other
2        4
3    Other
4    Other
dtype: object

##### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [195]:
s1 = pd.Series(np.array([np.random.randint(0, 10) for i in range(20)]), name='N')
mod_5 = (s1[s1 % 5 == 0]) & (s1[s1 != 0])
indices = mod_5[mod_5 == True].index.tolist()
indices

[2, 6, 15]

##### 22. Write a Pandas program to extract items at given positions of a given series.

In [200]:
num_series = pd.Series(np.array([np.random.randint(0, 10) for i in range(20)]), name='N')
element_pos = [6, 9, 4, 2, 0]
num_series.iloc[element_pos]

6    6
9    9
4    8
2    2
0    5
Name: N, dtype: int32

##### 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [225]:
num_series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], name='N')
element_pos = pd.Series([5, 4, 9])
result = [pd.Index(num_series).get_loc(i) for i in element_pos]
print(result)

[4, 3, 8]

##### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [253]:
s1 = pd.Series(['python', 'php', 'ruby', 'c#', 'fortran', 'html'])
s1 = s1.map(lambda x: x.capitalize().replace(x[-1], x[-1].upper()))
s1

0     PythoN
1        PhP
2       RubY
3         C#
4    FortraN
5       HtmL
dtype: object