### Pandas DataFrame exersizes = https://www.w3resource.com/python-exercises/pandas/index-dataframe.php

In [3]:
import pandas as pd
import numpy as np

In [4]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data=exam_data, index=labels)

##### 46. Write a Pandas program to check whether a given column is present in a DataFrame or not.

In [5]:
print('name' in df) # Testing to see if a bool value will be returned with an existing column name
print('class' in df) # Trying a non-existing column

True
False

##### 47. Write a Pandas program to get the specified row value of a given DataFrame.

In [8]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
d_df = pd.DataFrame(data=d)
d_df.iloc[0]

col1    1
col2    4
col3    7
Name: 0, dtype: int64

##### 48. Write a Pandas program to get the datatypes of columns of a DataFrame.

In [16]:
df.dtypes

name         object
score       float64
attempts      int64
qualify      object
dtype: object

##### 50. Write a Pandas program to sort a given DataFrame by two or more columns.

In [25]:
df_sorted = df.sort_values(by=['score', 'attempts'], ascending=False, axis=0)
df_sorted

        name  score  attempts qualify
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes
c  Katherine   16.5         2     yes
g    Matthew   14.5         1     yes
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
i      Kevin    8.0         2      no
d      James    NaN         3      no
h      Laura    NaN         1      no

##### 51. Write a Pandas program to convert the datatype of a given column (floats to ints).

In [35]:
# Failed. Conversion does not work.
df_conv = df.copy()
df_conv['score'] = df_conv.score.astype(int, errors = 'ignore')
df_conv['score']

a    12.5
b     9.0
c    16.5
d     NaN
e     9.0
f    20.0
g    14.5
h     NaN
i     8.0
j    19.0
Name: score, dtype: float64

##### 53. Write a Pandas program to insert a given column at a specific column index in a DataFrame.

In [41]:
df_newcol = df.copy()
df_newcol.insert(loc=1, column='class', value=np.zeros(len(df_newcol['score'])))
df_newcol

        name  class  score  attempts qualify
a  Anastasia    0.0   12.5         1     yes
b       Dima    0.0    9.0         3      no
c  Katherine    0.0   16.5         2     yes
d      James    0.0    NaN         3      no
e      Emily    0.0    9.0         2      no
f    Michael    0.0   20.0         3     yes
g    Matthew    0.0   14.5         1     yes
h      Laura    0.0    NaN         1      no
i      Kevin    0.0    8.0         2      no
j      Jonas    0.0   19.0         1     yes