### URL for problems: https://www.w3resource.com/python-exercises/pandas/index-data-series.php

In [2]:
import pandas as pd
import numpy as np

##### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [12]:
s1 = pd.Series(['python', 'php', 'ruby', 'c#', 'fortran', 'html'])
s2 = s1.map(lambda x: len(x))
df = pd.DataFrame([s1, s2]).T.rename({0: 'word', 1: 'len(word)'}, axis=1)
df

      word len(word)
0   python         6
1      php         3
2     ruby         4
3       c#         2
4  fortran         7
5     html         4

##### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [27]:
s1 = pd.Series([1, 3, 5, 6, 8, 9, 13, 15, 24])
s2 = pd.Series(s1.diff().diff().tolist())
s2

0    NaN
1    NaN
2    0.0
3   -1.0
4    1.0
5   -1.0
6    3.0
7   -2.0
8    7.0
dtype: float64

##### 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [31]:
dates = ['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20']
s1 = pd.to_datetime(pd.Series(dates))
s1

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

##### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [45]:
dates = ['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20']
s1 = pd.to_datetime(pd.Series(dates))
day = s1.dt.day.tolist()
day_of_year = s1.dt.day_of_year.tolist()
week_num = s1.dt.isocalendar().week.tolist()
day_name = s1.dt.day_name().tolist()
print(f'{day}\n{day_of_year}\n{week_num}\n{day_name}')

[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]
[1, 39, 10, 19, 15, 14]
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

##### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [51]:
year_month = ['January 2015', 'February 2016', 'March 2017', 'April 2018', 'May 2019', 'June 2020', 'July 2021', 'August 2022']
s1 = pd.Series(year_month).map(lambda x: f'25 {x}')
s2 = pd.to_datetime(s1)
s2

0   2015-01-25
1   2016-02-25
2   2017-03-25
3   2018-04-25
4   2019-05-25
5   2020-06-25
6   2021-07-25
7   2022-08-25
dtype: datetime64[ns]

##### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.