### Pandas DataFrame exersizes = https://www.w3resource.com/python-exercises/pandas/index-dataframe.php

In [1]:
import pandas as pd
import numpy as np

In [3]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
    }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data=exam_data, index=labels)

##### 69. Write a Pandas program to merge datasets and check uniqueness.

In [23]:
df1 = df.copy().drop(labels=['a', 'b'], axis='index')
df2 = df.copy().drop(labels=['i', 'j'], axis='index')
df_merged = pd.merge(df1, df2, how='outer', validate='one_to_one')
df_merged

        name  score  attempts qualify
0  Katherine   16.5         2     yes
1      James    NaN         3      no
2      Emily    9.0         2      no
3    Michael   20.0         3     yes
4    Matthew   14.5         1     yes
5      Laura    NaN         1      no
6      Kevin    8.0         2      no
7      Jonas   19.0         1     yes
8  Anastasia   12.5         1     yes
9       Dima    9.0         3      no

##### 70. Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.

In [36]:
data = { 'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'], 'age': [18, 22, 85, 50, 80, 5] }
df_category = pd.DataFrame(data)
df_category['category'] = pd.cut(df_category['age'], bins=[0, 18, 65, 99], labels=['kids', 'adults', 'elderly'])
df_category

             name  age category
0  Alberto Franco   18     kids
1    Gino Mcneill   22   adults
2     Ryan Parkes   85  elderly
3    Eesha Hinton   50   adults
4    Syed Wharton   80  elderly
5   Kierra Gentry    5     kids

##### 71. Write a Pandas program to display memory usage of a given DataFrame and every column of the DataFrame.

In [55]:
df_mem = df.copy()
df_mem.memory_usage(deep=True)
# df_mem.info(memory_usage='deep')

Index       880
name        631
score        80
attempts     80
qualify     595
dtype: int64

### Pandas String and Regular Expression: https://www.w3resource.com/python-exercises/pandas/string/index.php

##### 1. Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.

In [77]:
df_sreg = df['name'].copy()
print(df_sreg.str.upper())
print(df_sreg.str.lower())

a    ANASTASIA
b         DIMA
c    KATHERINE
d        JAMES
e        EMILY
f      MICHAEL
g      MATTHEW
h        LAURA
i        KEVIN
j        JONAS
Name: name, dtype: object
a    anastasia
b         dima
c    katherine
d        james
e        emily
f      michael
g      matthew
h        laura
i        kevin
j        jonas
Name: name, dtype: object