### URL for problems: https://www.w3resource.com/python-exercises/pandas/index-data-series.php

In [2]:
import pandas as pd
import numpy as np

##### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [12]:
s1 = pd.Series(['python', 'php', 'ruby', 'c#', 'fortran', 'html'])
s2 = s1.map(lambda x: len(x))
df = pd.DataFrame([s1, s2]).T.rename({0: 'word', 1: 'len(word)'}, axis=1)
df

      word len(word)
0   python         6
1      php         3
2     ruby         4
3       c#         2
4  fortran         7
5     html         4

##### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.